// Here you can add other styles
:root{
    --color-primary:rgb(93, 5, 22)  !important;
    --color-bg:rgb(255, 255, 255) !important;
    $accordion-button-active-color: red !important
}
.bg-primary{
    background-color: var(--color-primary) !important;
    
}
.container-lg{
    background-color: var(--color-bg) !important;
}
.header{
    background-color: #12372A!important;
}
.nav-link{
    border: white !important;
    color: white !important;
}
.nav-link:hover{
    background-color: #127a56 !important;
}
.simplebar-content{
    border-color: white !important;
}