// Here you can add other styles
:root{
    --color-primary:#B6C4B6  !important;
    --color-bg:rgb(255, 255, 255) !important;
    $accordion-button-active-color: red !important
}
.bg-primary{
    background-color: var(--color-primary) !important;
    
}
.container-lg{
    background-color: var(--color-bg) !important;
}
.header{
    background-color: #12372A!important;
}
.nav-link{
    border: #B6C4B6 !important;
    color: white !important;
}
.nav-link:hover{
    background-color: #127a56 !important;
}
.simplebar-content .active{
    background-color: #B6C4B6 !important;
}
.simplebar-content{
    border-color: #B6C4B6 !important;
}
.sidebar-header{
    border-color: #B6C4B6 !important;
}
.header-title{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.container-fluid a{
    color: white !important;
}
.container-fluid .active{
    color: white !important;
}
.container-fluid .active::before{
    color: white !important;
}